# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
results/*
!results/.gitkeep
models/*
!models/.gitkeep

# IDEs
.vscode/
.idea/

# Logs
*.log
wandb/
